In [32]:
# import Panda dependency
import pandas as pd

In [33]:
# filepath as strings
sch_file = "resources\schools_complete.csv"
stu_file = "resources\students_complete.csv"

In [36]:
# convert data to dataframe
sch_df = pd.read_csv(sch_file)
stu_df = pd.read_csv(stu_file)

In [37]:
#pratice quality data checks - missing values
sch_df.count()
sch_df.isnull()
sch_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [40]:
#count how many nulls in student data using isnull().sum() or notnull().sum()
stu_df.isnull().sum()
stu_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [42]:
sch_df.dtypes
#can also call out specific colums using df["column name"].dtype or df.columnname.dtype

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object